/* General Styles */
body {
  font-family: "Inter", sans-serif;
  background-color: #f4f6f9;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.profile-img {
  border-radius: 50px !important;
}

/* Sidebar */
.sidebar {
  min-width: 220px;
  width: 220px;
  background-color: white;
  color: #a1a9b3;
  padding: 20px;
  border-right: 1px solid #b8c1cc;
  overflow-y: auto;
  height: 100vh;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
}

.sidebar ul li.active,
.sidebar ul li:hover {
  background-color: #153991;
  color: #f2f2f2;
  border-radius: 25px;
  padding: 5%;
  margin-bottom: 4px;
}

.main-content {
  flex-grow: 1;
  width: 100%;
}

/* Navbar */
.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #b8c1cc;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Filters */
.filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  padding: 20px;
}

/* Cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card {
  flex: 1;
  min-width: 250px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #b8c1cc;
  text-align: center;
}

/* Charts */
.charts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.chart-container {
  flex: 1;
  min-width: 300px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Table */
.table-container {
  margin: 20px;
  background: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #b8c1cc;
  overflow-x: auto;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table th,
.styled-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

/* Buttons */
.download-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #1e40af;
  border-radius: 30px;
  color: white;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  .nav-logo {
    display: none;
  }
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    min-width: unset;
    height: auto;
    border-right: none;
    border-bottom: 1px solid #b8c1cc;
    display: none;
  }
  .filters {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: "100px";
  }
  .sidebar {
    width: 100%;
    min-width: unset;
    height: auto;
    border-right: none;
    border-bottom: 1px solid #b8c1cc;
    border: 1px solid black;
    margin-bottom: 2%;
    display: none;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .cards {
    flex-direction: column;
    align-items: center;
    width: 86%;
  }
  .card {
    width: 100%;
  }
  .charts {
    flex-direction: column;
  }
  .filters {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: row;
    gap: "100px";
  }
  .sidebar {
    width: 100%;
    min-width: unset;
    height: auto;
    border-right: none;
    border-bottom: 1px solid #b8c1cc;
  }
  .sidebar ul li {
    font-size: 12px;
    padding: 10px;
  }
  .table-container {
    padding: 5px;
  }
  .styled-table th,
  .styled-table td {
    padding: 5px;
    font-size: 12px;
  }
  .download-btn {
    padding: 8px 12px;
    font-size: 12px;
  }
}
